@model Comp2139_Assignment1.Models.Incident
@{
    var title = ViewData["Title"] as string;
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action=@ViewData["Title"]>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(title == "Edit")
            {
                <input type="hidden" asp-for="IncidentId" />
            }

            <br />
            <div class="form-group row">
                <label asp-for="Customer" class="col-sm-2 col-form-label">Client Name:</label>
                @*@{
                    SelectList customer = ViewBag.CustomerId;
                    var currentlySelectedIndex = 0; // Currently selected index (usually will come from model)
                }*@
                @if(title == "Create")
                {
                    <div class="col-sm-10">
                        <select asp-for="CustomerId" class="form-control" asp-items="@ViewBag.CustomerId"></select>
                        <span asp-validation-for="Customer" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="col-sm-10">
                        <input asp-for="CustomerId" class="form-control" asp-items="@ViewBag.CustomerId" />
                        <span asp-validation-for="Customer" class="text-danger"></span>
                    </div>
                }
            </div>

            <br />
            <div class="form-group row">
                <label asp-for="Product" class="col-sm-2 col-form-label">Product:</label>
                @if(title == "Create")
                {
                    <div class="col-sm-10">
                        <select asp-for="ProductId" class="form-control" asp-items="@ViewBag.ProductId"></select>
                        <span asp-validation-for="Product" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="col-sm-10">
                        <input asp-for="ProductId" class="form-control" asp-items="@ViewBag.ProductId" />
                        <span asp-validation-for="Product" class="text-danger"></span>
                    </div>
                }
            </div>

            <br />
            <div class="form-group row">
                <label asp-for="IncidentTitle" class="col-sm-2 col-form-label">Title:</label>
                <div class="col-sm-10">
                    <input asp-for="IncidentTitle" class="form-control" />
                    <span asp-validation-for="IncidentTitle" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <label asp-for="IncidentDescription" class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-10">
                    <input asp-for="IncidentDescription" class="form-control" />
                    <span asp-validation-for="IncidentDescription" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <label asp-for="Technician" class="col-sm-2 col-form-label">Technician:</label>
                @if(title == "Create")
                {
                    <div class="col-sm-10">
                        <select asp-for="TechnicianId" class="form-control" asp-items="@ViewBag.TechnicianId"></select>
                        <span asp-validation-for="Technician" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="col-sm-10">
                        <input asp-for="TechnicianId" class="form-control" asp-items="@ViewBag.TechnicianId" />
                        <span asp-validation-for="Technician" class="text-danger"></span>
                    </div>
                }
            </div>

            <br />
            <div class="form-group row">
                <label asp-for="IncidentDescription" class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-10">
                    <input asp-for="IncidentDescription" class="form-control" />
                    <span asp-validation-for="IncidentDescription" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <label asp-for="IncidentDateOpened" class="col-sm-2 col-form-label">Date Opened:</label>
                <div class="col-sm-10">
                    <input asp-for="IncidentDateOpened" class="form-control" />
                    <span asp-validation-for="IncidentDateOpened" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <label asp-for="IncidentDateClosed" class="col-sm-2 col-form-label">Date Closed:</label>
                <div class="col-sm-10">
                    <input asp-for="IncidentDateClosed" class="form-control" />
                    <span asp-validation-for="IncidentDateClosed" class="text-danger"></span>
                </div>
            </div>
                


            <br />
            <div class="form-group">
                <input type="submit" value="@ViewData["Title"]" class="btn btn-success" />
                @if(title == "Create")
                {
                 <input type="reset" class="btn btn-danger" />   
                }
            </div>
        </form>
    </div>
</div>

<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}