@model IEnumerable<Comp2139_Assignment1.Models.Technicians>

@{
    ViewData["Title"] = "Index";
}

<h1>Technician Manager</h1>

<br />

<table class="table">
    <thead>
        <tr>
            <th>Technician Name</th>
            <th>Technician Email</th>
            <th>Technician Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TechnicianId" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.TechnicianId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<p>
    <a asp-action="Create" class= "btn btn-success">Add Technician</a>
</p>