@model IEnumerable<Comp2139_Assignment1.Models.Technicians>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<br />
<p>
    <a asp-action="Create" class= "btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TecId" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TecId" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TecId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
