@model IEnumerable<GBCSporting_OJO.Models.Incident>

@{
    ViewData["Title"] = "Incident Manager";
}

<h1>Incident Manager</h1>

<br />
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Customer</th>
            <th>Product</th>
            <th>Incident</th>
            <th>Description</th>
            <th>Technician</th>
            <th>Date Opened</th>
            <th>Date Closed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerFirstName)
                @Html.DisplayFor(modelItem => item.Customer.CustomerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician.TechnicianName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDateOpened.Day)/@Html.DisplayFor(modelItem => item.IncidentDateOpened.Month)/@Html.DisplayFor(modelItem => item.IncidentDateOpened.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDateClosed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IncidentId" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.IncidentId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<p>
    <a asp-action="Create" class=" btn btn-success">Create New</a>
</p>
