@model IEnumerable<Comp2139_Assignment1.Models.Products>

@{
    ViewData["Title"] = "Product Manager";
}

<h1>Product Manager</h1>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductReleaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</p>
