@model IEnumerable<GBCSporting_OJO.Models.Products>

@{
    ViewData["Title"] = "Product Manager";
}

<h1>Product Manager</h1>

<br />



<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductReleaseDate.Day)/@Html.DisplayFor(modelItem => item.ProductReleaseDate.Month)/@Html.DisplayFor(modelItem => item.ProductReleaseDate.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<p>
    <a asp-action="Create" class= "btn btn-success">Add Product</a>
</p>
